<% include ./common/header %>

<div class="container">
  <div class="ui two column centered grid">
    <div class="right floated left aligned four wide column">
      <% if (user) { %>
        <% var name = user.name; %>
        <% include ./topic/userCard %>
        <% include ./topic/createCard %>
      <% } %>
      <% include ./topic/noReplyCard %>
      <% include ./topic/linkCard %>
    </div>
    <div class="left floated  twelve wide column">
      <% include ./topic/tab %>
      <% include ./topic/list %>
      <% include ./topic/pagination %>
    </div>
  </div>
</div>

<% include ./common/footer %>