<% include common/header %>

<div class="container">
  <div class="ui two column centered grid">
    <div class="right floated left aligned four wide column">
      <% include topic/userCard %>
      <% if (user) { %>
        <% include topic/createCard %>
      <% } %>
      <% include topic/noReplyCard %>
      <% include topic/linkCard %>
    </div>
    <div class="left floated twelve wide column">
      <% include topic/list %>
    </div>
  </div>
</div>

<% include common/footer %>