<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>koa2 + react</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery/jquery-3.1.0.js"></script>
  </head>
  <body>
    <div class="ui fixed menu navbar">
      <div class="container">
        <a href="/" class="item">koa2-react</a>
        <div class="item">koa2+react测试</div>
        <div class="right menu">
          <% if (user) { %>
            <a href="/author/logout" class="item">登出</a>
          <% } else { %>
            <a href="/author/signup" class="item">注册</a>
            <a href="/author/signin" class="item">登录</a>
          <% } %>
        </div>
      </div>
    </div>